<!DOCTYPE html>
<html>
    <%- partial("_partial/head") %>
	
	<% if(page.layout == "gallery") { %>
		<!-- Single Gallery Page -->
		<%- partial("_widget/page-gallery") %>
	<% } else { %>

    <body id="scheme-<%= theme.scheme %>">

		
        <div class="material-layout  mdl-js-layout has-drawer is-upgraded">
				
			<% if(theme.scheme == "Isolation"){ %>
				<!-- Isolation Header -->
				<%- partial("_partial/isolate_info") %>
			<% } %>
			
            <!-- Main Container -->
            <main class="material-layout__content" id="main">
				
                <!-- Top Anchor -->
                <div id="top"></div>
				
				<% if(theme.scheme == "Paradox"){ %>
                <!-- Hamburger Button -->
                <button class="MD-burger-icon sidebar-toggle">
                    <span class="MD-burger-layer"></span>
                </button>
				<% } %>
				
                <%- body %>
				
				<% if(theme.scheme == "Paradox"){ %>
					<%- partial('_partial/sidebar') %>
				<% } %>
				
				<% if(theme.scheme == "Paradox"){ %>
					<!-- Footer Top Button -->
					<%- partial("_partial/footer_top")  %>
				<% } %>
				
				<%- partial("_partial/footer") %>
                
				<%- partial("_partial/import_js") %>
            </main>
        </div>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-6717439-7', 'auto');ga('send', 'pageview');
        </script>
    </body>
		
	<% } %>
</html>
